<div class="row">
  <section class="col-12 p-0 position-relative">
    <app-carousel>
      <picture class="carousel-image">
        <img src="../../assets/images/laptop.jpeg" class="position-absolute" />
      </picture>
      <picture class="carousel-image">
        <img src="../../assets/images/phone.jpg" class="position-absolute" />
      </picture>
      <picture class="carousel-image">
        <img
          src="../../assets/images/productivity.jpg"
          class="position-absolute"
        />
      </picture>
      <picture class="carousel-image">
        <img src="../../assets/images/wallet.jpg" class="position-absolute" />
      </picture>
    </app-carousel>
  </section>
</div>
