<p>
  gallery works!
</p>

<!--
  essentially loop through array of items
-->

<app-animate-children>
  <p>Hey I'm the child!</p>
</app-animate-children>
<app-animate-children>
  <img src='../../assets/canada.jpg'/>
</app-animate-children>

<div style='height: 1000px;'>
  this is just a place holder to hide elements;
  <app-animate-children>
    <img src='../../assets/canada.jpg'/>
  </app-animate-children>
</div>

<app-animate-children>
  <img src='../../assets/canada.jpg'/>
  <img src='../../assets/canada.jpg'/>
  <img src='../../assets/canada.jpg'/>
</app-animate-children>

<app-animate-children>
  <img src='../../assets/canada.jpg'/>
</app-animate-children>

<app-animate-children>
  <img src='../../assets/canada.jpg'/>
</app-animate-children>