<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12 p-0'>
        <nav class='d-flex justify-content-center' style='background-color: #1b1616'>
          <div class='col-sm-12 col-md-6 p-0'>
              <ul class='nav d-flex p-2 bd-highlight list-style-none w-1000 bg-gray'>
                <li class='p-2 font-weight-bold'><a routerLink="/">Home</a></li>
                <li class='p-2 font-weight-bold'><a routerLink="form">Form</a></li>
                <li class='p-2 font-weight-bold'><a routerLink="game">Game</a></li>
                <li class='p-2 font-weight-bold'><a routerLink="gallery">Gallery</a></li>
                <li class='p-2 font-weight-bold'><a routerLink="canvas">Canvas</a></li>
              </ul>
          </div>
          
        </nav>
    </div>
  </div>
  
</div>