<section class='row text-center justify-content-center'>
  <h2 class='col-12'>Travel To The Country Of Your Dreams</h2>
  <section class='col-12 col-sm-3 p-4 red round'>
    <header>
      <h5>Japan</h5>
      <p class='col-12'>Sushi and Ramen</p>
      <p class='col-12'>
        <a class='btn-primary p-2' routerLink="">Learn More</a>
      </p>
    </header>
  </section>
  <section class='col-12 col-sm-3 p-4 teal round ml-4 mr-4 canada white'>
    <header>
      <h5>Canada</h5>
      <p class='col-12'>Its Cold Here</p>
      <p class='col-12'>
          <a class='btn-primary p-2' routerLink="">Learn More</a>
      </p>
    </header>
  </section>
  <section class='col-12 col-sm-3 p-4 round' #aus>
    <div class='row'>
      <header class='col-12'>
        <h5>Austrilia</h5>
      </header>
      <p class='col-12'>Where everything wants to kill you</p>
      <p class='col-12'>
        <a class='btn-primary p-2' routerLink="/form">Learn More</a>
      </p>
    </div>
  </section>
</section>

<section class='col-12'>
    That's like just your opinion man
    <button [@divState]='state' (click)='changeState()'>Trigger Me!</button>
</section>